argcomplete==1.10.0
atoti==0.5.5
beautifulsoup4==4.8.0
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
docker==5.0.0
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
Flask==1.1.2
greenlet==1.1.0
idna==2.10
IMAPClient==2.1.0
itsdangerous==1.1.0
jdk4py==11.0.9.0
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.25
numpy==1.20.3
olefile==0.46
pandas==1.2.4
pdf2image==1.14.0
pdfminer.six==20181108
Pillow==8.2.0
protobuf==3.17.3
pyarrow==3.0.0
pycryptodome==3.10.1
pyftpdlib==1.5.6
PyMySQL==1.0.2
PyPDF2==1.26.0
pytesseract==0.3.7
python-dateutil==2.8.1
python-pptx==0.6.18
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.12.0
sortedcontainers==2.3.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.18
textract==1.6.3
tika==1.24
typeguard==2.12.0
typing-extensions==3.10.0.0
tzlocal==1.5.1
urllib3==1.26.4
Wand==0.6.6
websocket-client==1.1.0
Werkzeug==1.0.1
xlrd==1.2.0
XlsxWriter==1.4.2
